.card {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.image {
  width: 10vh;
  margin-right: 5vh;
}

.data {
  display: flex;
  align-items: center;
  padding: 1.5 0.5rem;
  margin: 1rem;
}

.data ul {
  margin-left: 1rem;
}

.details li {
  font-weight: 700;
}

.data ul li {
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  /* .card {
    height: 10vh;
  } */
}
