.form-container {
  width: 50vw;
  display: flex;
  margin-bottom: 1rem;
}

.geo-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.geo-form div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.geo-input {
  outline: none;
  margin-bottom: 0.75rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 2px solid var(--offWhite);
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: "Comfortaa", cursive;
}

.geo-input:focus {
  outline: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.geo-input:active {
  color: var(--yellow);
}

.geo-button {
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--offWhite);
  background-color: transparent;
  border: 2px solid var(--offWhite);
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: inherit;
}

.geo-button:hover {
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.geo-button:active {
  background-color: var(--yellow);
  color: var(--darkGrey);
  border: 2px solid var(--darkGrey);
}

@media screen and (min-width: 768px) {
  .geo-form {
    flex-direction: row;
    align-items: end;
  }

  .geo-form div {
    margin: 0;
    margin-right: 1rem;
    width: 100%;
    align-items: end;
  }

  .geo-button {
    margin: 0;
    margin-bottom: 0.75rem;
  }
}
